.sobre {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bloco-sobre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 50%;
}

.bloco-card-sobre {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.bloco-imagem-sobre {
  height: 100%;
  width: 50%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #51dcee;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 4px #132235;
  width: 100%;
  height: 100%;
}
.text-card {
  font-size: 16px;
  margin-bottom: 10px;
  color: #132235;
}
.icon-card {
  width: 20%;
  height: 20%;
}
@media screen and (max-width: 800px) {
  .sobre {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .bloco-sobre {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .bloco-card-sobre {
    flex-direction: column;
    padding: 0;
  }

  .bloco-imagem-sobre {
    width: 100%;
    height: auto;
  }

  .card {
    margin-bottom: 20px;
  }

  .text-card {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .icon-card {
    width: 40px;
    height: 40px;
  }
}
