.conteiner-formulario {
  height: 70vh;
  display: flex;
  justify-content: center;

  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #13223574;
  border-radius: 6px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px #132235;
  background-color: #ffffff;
  width: 50%;
  height: 90%;
}
.titulo-formulario {
  font-size: 100%;
  margin-top: 5%;
  text-align: center;
  color: #132235;
}
input {
  width: 80%;
  height: 30px;
  border-radius: 6px;
  border: #1322359d solid 0.5px;
}
textarea {
  width: 80%;
  margin-bottom: 3%;
  border-radius: 6px;
}
label {
  font-size: 90%;
  margin-bottom: 1%;
  margin-top: 3%;
  color: #132235;
}
@media screen and (max-width: 800px) {
  .conteiner-formulario {
    height: auto;
    padding: 20px;
  }

  .formulario {
    width: 100%;
    height: auto;
  }
}
