.moradias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bloco-moradias {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2%;
}

.card-moradia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #13223574;
  border-radius: 6px;
  box-shadow: 0 4px 8px #13223574;
  background-color: #ffffff;
  width: 18%;
  padding-bottom: 1%;
}
.foto-card {
  width: 100%;
  height: 40%; /* Defina a altura desejada para a imagem */
  object-fit: cover; /* Ajusta a imagem para preencher o espaço sem distorção */
  border-radius: 5px;
  margin-bottom: 10px;
}

.titulo-moradias {
  width: 100%;
  height: 15%;
  font-size: 35px;
  margin: 1% 0;
  text-align: center;
  color: #132235;
}
.paragrafo-card-moradia {
  font-size: 100%;
}
.text-card-moradias {
  font-size: 80%;
  color: #616b77;
}
@media screen and (max-width: 800px) {
  .bloco-moradias {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }

  .card-moradia {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 45%;
    margin: 0 2% 20px;
  }

  .titulo-moradias {
    font-size: 24px;
    margin: 10px 0;
  }

  .foto-card {
    height: 200px;
  }

  .text-card-moradias {
    font-size: 12px;
  }
}
