* {
  box-sizing: border-box;
}
.slideshow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  /* position: relative; */
}
.mySlides {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-arrows {
  display: flex;
  justify-content: space-between;
}
.prev,
.next {
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: aqua;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #8f8f8f;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.img-modelo {
  height: 100px;
  border-radius: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-feedback {
  width: 500px;
}

@media screen and (max-width: 800px) {
  .slideshow-container {
    align-items: center;
  }
  .mySlides {
    align-items: center;
  }
  .container-arrows {
    align-items: center;
  }
  .prev,
  .next {
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  .img-modelo {
    height: 80px;
    border-radius: 10px;
  }
  .text-feedback {
    width: 100%;
  }
}
