* {
  margin: 0;
  padding: 0;
  font-family: HelveticaNowDisplay, Arial, sans-serif;
}

.palavra-colorida {
  color: #6cdad3;
}

footer {
  background-color: #132235;
  color: #ffffff;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.social {
  display: flex;
  width: 5%;
  justify-content: space-between;
  align-items: center;
}
